<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form enctype="multipart/form-data" (ngSubmit)="patientForm(f)" #f="ngForm">
      <div class="form-group">
        <label for="DICOMfile">
          Select DICOM file :
        </label>
        <input name="DICOMfile" id="DICOMfile" enctype="multipart/form-data"  type="file" (change)="handleFileInput($event)"/>
        <button  class="btn btn-primary" (click)="upload()" id="btnUpload">Upload</button>
      </div>
    </form>
  </div>
</div>
